@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
:root{
    --laranja:#E65C39;
    --white:#ffffff;
    --dark:#000000;
    --yellow:rgb(245, 188, 0);
    --rosa:#E63241;
    --roxo:#B973E6;
    --salmao:#E67673;
    --rosa-sobre-nos:#f08089;
}
body{
    color: var(--dark);
    background: var(--white);
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #ccc;
    width: 100%;
    background: var(--white);
    transition: all 0.5s;
    position: fixed;
}
.nav .logo{
    color: var(--laranja);
    font-size: 1.7rem;
    font-weight: 600;
}
.logo span{
    color: var(--roxo);
}
.nav ul{
    display: flex;
    align-items: center;
    gap: 5rem;
}
.nav ul li a{
    color: var(--dark);
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s;
}
.nav ul li a:hover{
    color: var(--yellow);
    font-style: italic;
    transition: none;
    font-weight: bold;
}
.nav i{
    cursor: pointer;
    font-size: 1.5rem;
}
.menu{
    cursor: pointer;
    display: none;
}
.menu .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: var(--dark);
    margin: 5px auto;
    transition: all 0.3s;
}
.menu .bar:nth-child(1),
.menu .bar:nth-child(3){
    background: var(--laranja);
}
.home{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0px 10%;
}
.home-text{
    max-width: 37rem;
}
.home-text .text-h4{
    font-size: 1.5rem;
    color: var(--laranja);
    margin-bottom: 1rem;
    align-items: center;
}
.home-text .text-h1{
    font-size: 2rem;
    margin-bottom: 1rem;
    line-height: 4rem;
}
.home-text p{
    margin-bottom: 4rem;
    text-align: justify;
    margin-right: 2rem;
}
.home-btn{
    padding: 15px 45px;
    background: var(--white);
    border-radius: 10px;
  
    transition: all 0.5s;
    color: var(--black);
    border:var(--roxo);
    background-color:var(--roxo);
}
.home-btn:hover{
    font-weight: 700;
}
.home-img img{
    width: 100%;
    max-width: 100%; /* A imagem não ultrapassa o tamanho da sua div */
    height: auto;
    display: block;
}

/*responsivo*/
@media (max-width:785px) {
    .nav{
        padding: 18px 20px;
    }
    .menu{
        display: block;
    }
    .menu.ativo .bar:nth-child(1){
        transform:  translateY(8px) rotate(45deg);
    }
    .menu.ativo .bar:nth-child(2) {
        opacity: 0;
    }
    .menu.ativo .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: var(--white);
        gap: -10px;
        transition: 0.3s;
    }
    .nav-menu.ativo{
        right: 0;
    }
    .nav-item{
        margin: 16px 0;
    }
    /*main*/
    .home{
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        gap: 5rem;
    }
    .home .text-h4{
        font-size: 15px;
    }
    .home .text-h1{
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .home p{
        font-size: 15px;
    }
    .home-img{
        /*width: 125%;*/
        /*height: auto;*/
        
    max-width: 100%; /* A imagem não ultrapassa o tamanho da sua div */
    height: auto;
    display: block;
    }
}

/* Estilos para a seção "Sobre Nós" */
.sobre-nos {
  width: 100%;
  padding: 0 10%;
  background:var(--rosa-sobre-nos);
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}

.sobre-nos p {
  text-align: justify;
}

.sobre-nos .text-h4 {
  font-size: 1.5rem;
  color: var(--rosa);
  margin-bottom: 1rem;
  align-items: center;
}

.sobre-nos span {
  color: var(--roxo);
}


/*lista de serviços*/
.container {
    display: flex;
    flex-wrap: wrap; /* Permite que as colunas quebrem para a próxima linha em telas menores */
}

.column {
    flex: 12; /* As colunas ocupam o mesmo espaço */
    padding: 6%;
    box-sizing: border-box; /* Garante que o padding não aumente o tamanho das colunas */
}

.column li{
    list-style-type: circle;
}

.column img {
    max-width: 100%; /* A imagem não ultrapassa o tamanho da sua div */
    height: auto;
    display: block; /* Remove espaçamento extra abaixo da imagem */
    
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column; /* Empilha as colunas verticalmente em telas menores */
    }

    .column {
        flex: auto; /* As colunas se ajustam automaticamente */
        width: 100%;
        margin-bottom: 10px; /* Adiciona espaço entre as colunas */
    }
}

/*form*/
.forms{
    background-color: #e2ceef;
    margin: 0;
}
.formulario {
    width: 80%; /* Define a largura como 80% da largura do viewport */
    max-width: 400px; /* Define a largura máxima do formulário */
    padding: 20px;
    margin: 0 auto; /* Adiciona uma margem automática para centralizar horizontalmente */
    border: 2px solid #ffffff;
    border-radius: 10px;
    background-color: #e2ceef;
}


/* Regras de mídia para tornar o formulário responsivo */
@media screen and (max-width: 600px) {
    .formulario {
        width: 90%; /* Define a largura como 90% da largura do viewport em telas menores que 600px */
    }
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario textarea {
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.formulario textarea {
    height: 100px;
}

.formulario input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px 20px;
    background-color: #B973E6;
    color: #000000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.formulario input[type="submit"]:hover {
    background-color: var(--roxo);
    font-weight: 700;
}

/* Estilo para os rótulos dos inputs */
.formulario label {
    display: block;
    margin-bottom: 5px;
    
}
.formulario h4{
    font-size: 1.5rem;
    color: var(--laranja);
    margin-bottom: 1rem;
    align-items: center;
}