@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {
    --laranja: #E65C39;
    --white: #ffffff;
    --dark: #000000;
    --cinza: #3F5259;
    --rosa: #E63241;
    --roxo: #B973E6;
    --salmao: #E67673;
    --rosa-sobre-nos: #f08089;
}

body {
    color: var(--dark);
    background: var(--white);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #ccc;
    width: 100%;
    background: var(--white);
    transition: all 0.5s;
    position: fixed;
}

.nav .logo {
    color: var(--laranja);
    font-size: 1.7rem;
    font-weight: 600;
}

.logo span {
    color: var(--roxo);
}

.nav ul {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.nav ul li a {
    color: var(--dark);
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s;
}

.nav ul li a:hover {
    color: var(--cinza);
    font-style: italic;
    transition: none;
    font-weight: bold;
}

.nav i {
    cursor: pointer;
    font-size: 1.5rem;
}

.menu {
    cursor: pointer;
    display: none;
}

.menu .bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: var(--dark);
    margin: 5px auto;
    transition: all 0.3s;
}

.menu .bar:nth-child(1),
.menu .bar:nth-child(3) {
    background: var(--laranja);
}


/*home*/
.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
}

.home-text {
    margin-top: 8rem;
    max-width: 37rem;
    margin-bottom: 11rem;
}

.home-text .text-h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.home-text .text-h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    line-height: 4rem;
}

.home-text p {
    margin-bottom: 2rem;
    text-align: justify;
}

.home-btn {
    padding: 15px 45px;
    border-radius: 10px;
    transition: all 0.5s;
    color: var(--white);
    background-color: var(--roxo);
    text-decoration: none;
}

.home-btn:hover {
    font-weight: bold;
}

.home-img img {
    margin-top: 4rem;
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
}

@media (max-width: 768px) {
    .home {
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        gap: 5rem;
    }

    .home-text {
        max-width: 100%;
        margin-bottom: 2rem;
    }

    .home-text .text-h1 {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .home-btn {
        padding: 15px 30px;
    }
}

/*responsivo*/
@media (max-width:785px) {
    .nav {
        padding: 18px 20px;
    }

    .menu {
        display: block;
    }

    .menu.ativo .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .menu.ativo .bar:nth-child(2) {
        opacity: 0;
    }

    .menu.ativo .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: var(--white);
        gap: -10px;
        transition: 0.3s;
    }

    .nav-menu.ativo {
        right: 0;
    }

    .nav-item {
        margin: 16px 0;
    }

    /*main*/
    .home {
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        gap: 5rem;
    }

    .home .text-h4 {
        font-size: 15px;
    }

    .home .text-h1 {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .home p {
        font-size: 15px;
    }

    .home-img {
        max-width: 100%;
        height: auto;
        display: block;
    }
}

/* Estilos para a seção "Sobre Nós" */
.sobre-nos {
    width: 100%;
    padding: 0 10%;
    background: var(--rosa-sobre-nos);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}

.sobre-nos p {
    text-align: justify;
}

.sobre-nos .text-h4 {
    font-size: 1.5rem;
    color: var(--rosa);
    margin-bottom: 1rem;
    align-items: center;
}

.sobre-nos span {
    color: var(--roxo);
}


/*lista de serviços*/
.container {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 12;
    padding: 6%;
    box-sizing: border-box;
}

.column h4 {
    font-size: 1.5rem;
    color: var(--laranja);
    margin-bottom: 1rem;
    align-items: center;
}

.column li {
    list-style-type: circle;
}

.column img {
    max-width: 100%;
    height: auto;
    display: block;

}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .column {
        flex: auto;
        width: 100%;
        margin-bottom: 10px;
    }
}

/*formulario*/
.forms {
    background-color: #e2ceef;
    margin: 0;
}

.formulario {
    width: 80%;
    max-width: 400px;
    padding: 20px;
    margin: 0 auto;
    border: 2px solid #ffffff;
    border-radius: 10px;
    background-color: #e2ceef;
}

@media screen and (max-width: 600px) {
    .formulario {
        width: 90%;
    }
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario textarea {
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.formulario textarea {
    height: 100px;
}

.formulario input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px 20px;
    background-color: #B973E6;
    color: var(--white);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.formulario input[type="submit"]:hover {
    background-color: var(--roxo);
    font-weight: 700;
}

/* Estilo para os rótulos dos inputs */
.formulario label {
    display: block;
    margin-bottom: 5px;

}

.formulario h4 {
    font-size: 1.5rem;
    color: var(--laranja);
    margin-bottom: 1rem;
    align-items: center;
}

/*footer*/
.footer {
    background-color: var(--salmao);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }
}


/*recomendacoes*/
body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.rec {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.rec h2 {
    font-size: 1.5rem;
    color: var(--laranja);
    margin-bottom: 1rem;
    align-items: center;
}

.recomendacoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.recomendacao {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-style: italic;
}

@media (max-width: 768px) {
    .recomendacao {
        flex-basis: calc(50% - 20px);
    }
}