@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root{
    --red:#d63a25;
    --white:#ffffff;
    --dark:#000000;
}

body{
    color: var(--dark);
    background: var(--white);
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #ccc;
    width: 100%;
    background: var(--white);
    transition: all 0.5s;
}

.nav .logo{
    color: var(--red);
    font-size: 1.7rem;
    font-weight: 600;
}

.nav ul{
    display: flex;
    align-items: center;
    gap: 5rem;
}

.nav ul li a{
    color: var(--dark);
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s;
}

.nav ul li a:hover{
    color: rgb(245, 188, 0);
    font-style: italic;
    transition: none;
    font-weight: bold;
}

.nav i{
    cursor: pointer;
    font-size: 1.5rem;
}

.menu{
    cursor: pointer;
    display: none;
}

.menu .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: var(--dark);
    margin: 5px auto;
    transition: all 0.3s;
}

.menu .bar:nth-child(1),
.menu .bar:nth-child(3){
    background: var(--red);
}